#contenedor {
  height: 400px;
  margin-bottom: 10px;
  background-color: #2C3E50;
  border-radius: 10px;
  border: 2px solid;
  box-shadow: 4px 6px 5px -3px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 4px 6px 5px -3px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 4px 6px 5px -3px rgba(0, 0, 0, 0.8);
  overflow: scroll;
}

/* #contenedor::-webkit-scrollbar{
    display: none;
} 
    HACE DESAPARECER EL SCROLLBAR DEL CONTENEDOR!! :o
*/
#contenedor::-webkit-scrollbar{
    display: none;
}
